<section class="products container">
    <h2 id="products" class="products__title">Products</h2>
    <div class="animated-carousel">
        <div class="animated-carousel__inner">
            <article class="product-card">
                <img src="img/baby-yoda.svg" alt="Baby Yoda">
            </article>
            <article class="product-card">
                <img src="img/banana.svg" alt="Banana">
            </article>
            <article class="product-card">
                <img src="img/girl.svg" alt="Girl">
            </article>
            <article class="product-card">
                <img src="img/viking.svg" alt="Viking">
            </article>
        </div>
        <button class="carousel__button carousel__button--prev">⬅️</button>
        <button class="carousel__button carousel__button--next">➡️</button>
    </div>
    <div class="products__carousel">
        <button class="products__carousel-btn-prev">⬅️</button>
        <div class="products__carousel-slide"></div>
        <button class="products__carousel-btn-next">➡️</button>
    </div>
    <select type="text" class="products__currency">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="UAH">UAH</option>
        <option value="PLN">PLN</option>
    </select>
    <div class="products__list">
    </div>
</section>